{% extends "base.html" %}
{% block content %}

    <style>
        .introduzione{
            margin-top:40px;
        }
    </style>
    <div class="introduzione flex justify-center ...">
    <span class=" w-full max-w-xl p-3 block mt-4 py-2 px-6 text-lg text-gray-500 font-semibold">
        Ciao! Siamo Nicola Calvio (873737)<br> Beatrice Messano(876673)<br> Lisa Gibin(874060) <br>
        3 studenti di informatica a Ca Foscari e questo è il nostro progetto per
        il corso di basi di dati!
    </span>

    </div>

{% endblock content %}
