<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Example Page</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


</head>
<body>
<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="/home">
          <span class="sr-only">Workflow</span>
          <img class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="">
        </a>
      </div>
      <nav class="hidden md:flex space-x-10">

        <a href="/home" class="text-base font-medium text-gray-500 hover:text-gray-900">
          Home
        </a>
        <a href="/about" class="text-base font-medium text-gray-500 hover:text-gray-900">
          About
        </a>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          {% if signed_in %}
        <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-900">
                <img class=" h-7 w-auto inline" src="../static/img/profile.png" >
        </a>
          {% else %}
          <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">
          Sign in
        </a>
        <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
          Sign up
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
  <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="py-6 px-5 space-y-6">
        <div class="grid grid-cols-4 gap-y-4 gap-x-8">
            <a href="/home" class="text-base font-medium text-gray-900 hover:text-gray-700">
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          </a>
          <a href="/home" class="text-base font-medium text-gray-900 hover:text-gray-700">
            Home
          </a>

          <a href="/about" class="text-base font-medium text-gray-900 hover:text-gray-700">
            About
          </a>

            <a href="#" class="text-base font-medium text-gray-900 hover:text-gray-700">
                <img class=" h-7 w-auto inline" src="../static/img/profile.png" >
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>
