{% extends "base.html" %}
{% block content %}

    <style>
        #multiLineInput{
            resize: none;
        }
    </style>


<div class="h-full">
    <div class="flex justify-center mt-4 h-12">
       <input class="border-solid border-2 border-red-200 w-3/4 text-2lg" placeholder=" Inserisci il TITOLO">

    </div>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 domandina">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
          <div class ="flex ">
             <div class="border-4 border-dashed border-gray-200 rounded-lg h-56 w-10/12">
                <textarea rows="5" cols="50" id="multiLineInput" class="inline-block align-top h-full w-full p-4 text-lg" placeholder='Inserisci la DOMANDA'></textarea>
            </div>

            <div class="mt-4 space-y-4 mx-4">
                <div class="flex items-center">
                  <input type="radio" checked="true" name="n_domande" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label class="ml-3 block text-sm font-medium text-gray-700">
                    Una risposta
                  </label>
                </div>
                <div class="flex items-center">
                  <input type="radio" name="n_domande" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                  <label  class="ml-3 block text-sm font-medium text-gray-700">
                    Più risposte
                  </label>
                </div>

            </div>
          </div>

          <input class="block w-1/2 mt-4 border border-gray-300 rounded-lg p-4 text-lg shadow-lg risposta" placeholder="Inserisci una RISPOSTA">
      </div>
      <!-- /End replace -->

    </div>

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 domandaTrattegiata">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-56 border-red-200 hover:border-purple-500 w-10/12">
            <button class="text-black h-full w-full text-3xl font-bold" >+</button>
        </div>
      </div>
      <!-- /End replace -->
    </div>

    <div class="mt-4 w-3/4 flex flex-row-reverse">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Salva
        </button>
    </div>

</div>

    <script>
        //clono la prima domanda prima di qualunque cosa (ci servirà per aggiungere la domanda)
        let cloneDomanda=document.querySelectorAll(".domandina")[0].cloneNode(true);


        //per aggiungere le risposte
        let risposte=document.querySelectorAll(".risposta")[0];
        risposte.addEventListener('keypress', enter_premuto);

        function enter_premuto(tasto){
            if (tasto.key === "Enter"){
                let nuovaRisp= risposte.cloneNode(true);
                risposte.parentNode.appendChild(nuovaRisp);
                nuovaRisp.addEventListener("keypress", enter_premuto)
                nuovaRisp.focus()
            }
        }



        //per aggiungere la domanda
         //0.aggiungo eventlisener al div tratteggiato
        //1.clono il div tratteggiato
         //1.5 mi salvo il riferiemnto del padre del div tratteggiato
        //2. rimuovo il div trattegiato
        //3.clono il clone della domanda
        //4. aggiungo al padre del div tratteggiato il nuovo clone


        let tratteggiato=document.querySelectorAll(".domandaTrattegiata")[0];
        let parentTratteggiato = tratteggiato.parentNode;
        tratteggiato.addEventListener("click", aggiungiDomanda)

        function aggiungiDomanda(){
            let cloneCloneDomanda=cloneDomanda.cloneNode(true);
            parentTratteggiato.appendChild(cloneCloneDomanda);
            let cloneClonatoTrattegiato = tratteggiato.cloneNode(true);
            cloneClonatoTrattegiato.addEventListener("click", aggiungiDomanda);
            parentTratteggiato.appendChild(cloneClonatoTrattegiato);
            this.remove();

        }

    </script>

{% endblock content %}
