{% extends "base.html" %}
{% block content %}

    <style>
        #multiLineInput{
            resize: none;
        }
    </style>


<div class="h-full">
    <div class="flex justify-center mt-4 h-12">
       <input class="border-solid border-2 border-red-200 w-3/4 text-2lg" placeholder=" Inserisci il TITOLO" id="titolo">

    </div>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 domandina">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
          <div class ="flex ">
             <div class="border-4 border-dashed border-gray-200 rounded-lg h-56 w-10/12">
                <textarea rows="5" cols="50" id="multiLineInput" name="domanda0" class="inline-block align-top h-full w-full p-4 text-lg domanda" placeholder='Inserisci la DOMANDA'></textarea>
            </div>

            <div class="mt-4 space-y-4 mx-4">
                <div class="flex items-center">
                  <input type="radio" checked="true" name="n_domande0" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 radiobutton" value="una">
                  <label class="ml-3 block text-sm font-medium text-gray-700">
                    Una risposta
                  </label>
                </div>
                <div class="flex items-center">
                  <input type="radio" name="n_domande0" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 radiobutton" value="due">
                  <label  class="ml-3 block text-sm font-medium text-gray-700">
                    Più risposte
                  </label>
                </div>

            </div>
          </div>

          <input class="block w-1/2 mt-4 border border-gray-300 rounded-lg p-4 text-lg shadow-lg risposta" name="risposta0" placeholder="Inserisci una RISPOSTA">
      </div>
      <!-- /End replace -->

    </div>

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 domandaTrattegiata">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-56 border-red-200 hover:border-purple-500 w-10/12">
            <button class="text-black h-full w-full text-3xl font-bold" >+</button>
        </div>
      </div>
      <!-- /End replace -->
    </div>

    <div class="bottom-20 mt-4 w-3/4 flex flex-row-reverse" id="salva">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Salva
        </button>
    </div>

</div>
    <div id="mega_contenitore" class="hidden">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <!-- Heroicon name: outline/exclamation -->
            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
             Devi prima accedere
            </h3>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-white text-black text-base font-medium hover:text-white hover:bg-purple-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          <a href="/login" class="whitespace-nowrap text-base font-medium">
                Sign in
            </a>
        </button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
    </div>

    <script>
    var n_domande_value=1;
        //clono la prima domanda prima di qualunque cosa (ci servirà per aggiungere la domanda)
        let cloneDomanda=document.querySelectorAll(".domandina")[0].cloneNode(true);


        //per aggiungere le risposte
        let risposte=document.querySelectorAll(".risposta")[0];
        risposte.addEventListener('keypress', enter_premuto);

        function enter_premuto(tasto){
            if (tasto.key === "Enter"){
                let nuovaRisp= risposte.cloneNode(true);
                risposte.parentNode.appendChild(nuovaRisp);
                nuovaRisp.addEventListener("keypress", enter_premuto)
                nuovaRisp.value = "";
                nuovaRisp.focus()
            }
        }



        //per aggiungere la domanda
         //0.aggiungo eventlisener al div tratteggiato
        //1.clono il div tratteggiato
         //1.5 mi salvo il riferiemnto del padre del div tratteggiato
        //2. rimuovo il div trattegiato
        //3.clono il clone della domanda
        //4. aggiungo al padre del div tratteggiato il nuovo clone


        let tratteggiato=document.querySelectorAll(".domandaTrattegiata")[0];
        let parentTratteggiato = tratteggiato.parentNode;
        tratteggiato.addEventListener("click", aggiungiDomanda)
        document.getElementById("salva").addEventListener("click", salvaSurvey);

        function aggiungiDomanda(){
            let cloneCloneDomanda=cloneDomanda.cloneNode(true);
            let pulsante_salva = document.getElementById("salva");
            let clone_pulsante_salva = pulsante_salva.cloneNode(true);
            cloneCloneDomanda.querySelectorAll(".radiobutton").forEach((elemento)=>{
                elemento.name = "n_domande"+n_domande_value;
            })
            cloneCloneDomanda.querySelectorAll(".domanda")[0].name="domanda"+n_domande_value;
            cloneCloneDomanda.querySelectorAll(".risposta")[0].name = "risposta"+n_domande_value;
            n_domande_value++;
            let risposteCloneCloneDomanda = cloneCloneDomanda.querySelectorAll(".risposta")[0];
            risposteCloneCloneDomanda.addEventListener('keypress', premutoBottone)
            parentTratteggiato.appendChild(cloneCloneDomanda);
            let cloneClonatoTrattegiato = tratteggiato.cloneNode(true);
            cloneClonatoTrattegiato.addEventListener("click", aggiungiDomanda);
            parentTratteggiato.appendChild(cloneClonatoTrattegiato);
            pulsante_salva.remove();
            parentTratteggiato.appendChild(clone_pulsante_salva);
            clone_pulsante_salva.addEventListener("click", salvaSurvey);
            function premutoBottone(tasto){
                    if (tasto.key === "Enter"){
                    let nuovaRisp= risposteCloneCloneDomanda.cloneNode(true);
                    risposteCloneCloneDomanda.parentNode.appendChild(nuovaRisp);
                    nuovaRisp.addEventListener("keypress", premutoBottone)
                    nuovaRisp.value = "";
                    nuovaRisp.focus()
                }
            }
            this.remove();

        }
        function salvaSurvey(){
            //TODO: mandare tutte le domande e le risposte al backend che creerà la survey
            //l'id dello user lo ha già il backend tramite il cookie di sessione
            //le domande sono contrassegnate da name -> domanda+index
            //le risposte di una data domanda sono contrassegnate da name -> risposta+index_domanda
            //le radio button sono contrassegnate da name -> n_domande+index_domanda
            if(document.getElementById("titolo").value !== ""){
                let oggettone = Object.create(null);
                oggettone.titolo = document.getElementById("titolo").value;
                oggettone[0] = Object.create(null);
                for(let i=0; document.getElementsByName("domanda"+i).length!==0; i++){
                    oggettone[i].domande = document.getElementsByName("domanda"+i)[0].value;
                    oggettone[i].risposte = Object.create(null);
                    let j=0;
                    document.getElementsByName("risposta"+i).forEach((elemento) =>{
                        oggettone[i]["risposte"][j]=elemento.value;
                        j++;
                    })

                    let tipoDomanda;
                    document.getElementsByName("n_domande" + i).forEach((elemento)=>{
                        if(elemento.checked){
                            tipoDomanda =elemento.value === "una";
                        }
                    });

                    oggettone[i].selezione = tipoDomanda;
                    console.log(oggettone[i].selezione);
                    oggettone[i+1] = Object.create(null);
                }
                //console.log(JSON.stringify(oggettone));
                var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
                var theUrl = "/creaSurvey";
                xmlhttp.open("POST", theUrl);
                xmlhttp.setRequestHeader("Content-Type", "application/json");
                xmlhttp.send(JSON.stringify(oggettone));
                //alert("Sondaggio creato con successo");
                //document.getElementById("mega_contenitore").classList.remove("hidden");
                window.location.href = "/my-survey";
            }else{
                alert("devi impostare un titolo alla survey!");
            }

        }

    </script>

{% endblock content %}
