{% extends "base.html" %}
{% block content %}

    <style>
        #multiLineInput{
            resize: none;
        }
    </style>


<div class="h-full">
    <div class="flex justify-center mt-4 h-12">
       <input class="border-solid border-2 border-red-200 w-3/4 text-2lg" placeholder=" Inserisci il TITOLO" id="titolo">

    </div>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 domandina">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
          <div class ="flex ">
             <div class="border-4 border-dashed border-gray-200 rounded-lg h-56 w-10/12">
                <textarea rows="5" cols="50" id="multiLineInput" name="domanda0" class="inline-block align-top h-full w-full p-4 text-lg domanda" placeholder='Inserisci la DOMANDA'></textarea>
            </div>

            <div class="mt-4 space-y-4 mx-4">
                <div class="flex items-center">
                  <input type="radio" checked="true" name="n_domande0" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 radiobutton">
                  <label class="ml-3 block text-sm font-medium text-gray-700">
                    Una risposta
                  </label>
                </div>
                <div class="flex items-center">
                  <input type="radio" name="n_domande0" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 radiobutton">
                  <label  class="ml-3 block text-sm font-medium text-gray-700">
                    Più risposte
                  </label>
                </div>

            </div>
          </div>
            <!-- RISPOSTE -->
          <div class="flex mt-4  risposta" >
             <input class="block w-1/2 border border-gray-300 rounded-lg p-4 text-lg shadow-lg "  name="risposta0" placeholder="Inserisci una RISPOSTA">
              <div class="flex items-center">
                 <svg class=" h-6 text-red-700 fill-current m-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                        <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                    </svg>
              </div>


          </div>

      </div>
      <!-- /End replace -->

    </div>

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 domandaTrattegiata">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-56 border-red-200 hover:border-purple-500 w-10/12">
            <button class="text-black h-full w-full text-3xl font-bold" >+</button>
        </div>
      </div>
      <!-- /End replace -->
    </div>

    <div class="bottom-20 mt-4 w-3/4 flex flex-row-reverse" id="salva">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Salva
        </button>
    </div>

</div>
    <script>
    var n_domande_value=1;
        //clono la prima domanda prima di qualunque cosa (ci servirà per aggiungere la domanda)
        let cloneDomanda=document.querySelectorAll(".domandina")[0].cloneNode(true);


        //per aggiungere le risposte
        let risposte=document.querySelectorAll(".risposta")[0];
        risposte.addEventListener('keypress', enter_premuto);

        function enter_premuto(tasto){
            if (tasto.key === "Enter"){
                let nuovaRisp= risposte.cloneNode(true);
                risposte.parentNode.appendChild(nuovaRisp);
                nuovaRisp.addEventListener("keypress", enter_premuto)
                nuovaRisp.value = "";
                nuovaRisp.focus()
            }
        }



        //per aggiungere la domanda
         //0.aggiungo eventlisener al div tratteggiato
        //1.clono il div tratteggiato
         //1.5 mi salvo il riferiemnto del padre del div tratteggiato
        //2. rimuovo il div trattegiato
        //3.clono il clone della domanda
        //4. aggiungo al padre del div tratteggiato il nuovo clone


        let tratteggiato=document.querySelectorAll(".domandaTrattegiata")[0];
        let parentTratteggiato = tratteggiato.parentNode;
        tratteggiato.addEventListener("click", aggiungiDomanda)
        document.getElementById("salva").addEventListener("click", salvaSurvey);

        function aggiungiDomanda(){
            let cloneCloneDomanda=cloneDomanda.cloneNode(true);
            let pulsante_salva = document.getElementById("salva");
            let clone_pulsante_salva = pulsante_salva.cloneNode(true);
            cloneCloneDomanda.querySelectorAll(".radiobutton").forEach((elemento)=>{
                elemento.name = "n_domande"+n_domande_value;
            })
            cloneCloneDomanda.querySelectorAll(".domanda")[0].name="domanda"+n_domande_value;
            cloneCloneDomanda.querySelectorAll(".risposta")[0].name = "risposta"+n_domande_value;
            n_domande_value++;
            let risposteCloneCloneDomanda = cloneCloneDomanda.querySelectorAll(".risposta")[0];
            risposteCloneCloneDomanda.addEventListener('keypress', premutoBottone)
            parentTratteggiato.appendChild(cloneCloneDomanda);
            let cloneClonatoTrattegiato = tratteggiato.cloneNode(true);
            cloneClonatoTrattegiato.addEventListener("click", aggiungiDomanda);
            parentTratteggiato.appendChild(cloneClonatoTrattegiato);
            pulsante_salva.remove();
            parentTratteggiato.appendChild(clone_pulsante_salva);
            clone_pulsante_salva.addEventListener("click", salvaSurvey);
            function premutoBottone(tasto){
                    if (tasto.key === "Enter"){
                    let nuovaRisp= risposteCloneCloneDomanda.cloneNode(true);
                    risposteCloneCloneDomanda.parentNode.appendChild(nuovaRisp);
                    nuovaRisp.addEventListener("keypress", premutoBottone)
                    nuovaRisp.value = "";
                    nuovaRisp.focus()
                }
            }
            this.remove();

        }
        function salvaSurvey(){
            //TODO: mandare tutte le domande e le risposte al backend che creerà la survey
            //l'id dello user lo ha già il backend tramite il cookie di sessione
            //le domande sono contrassegnate da name -> domanda+index
            //le risposte di una data domanda sono contrassegnate da name -> risposta+index_domanda
            //le radio button sono contrassegnate da name -> n_domande+index_domanda
            let oggettone = Object.create(null);
            oggettone.titolo = document.getElementById("titolo").value;
            oggettone[0] = Object.create(null);
            for(let i=0; document.getElementsByName("domanda"+i).length!==0; i++){
                oggettone[i].domande = document.getElementsByName("domanda"+i)[0].value;
                oggettone[i].risposte = Object.create(null);
                let j=0;
                document.getElementsByName("risposta"+i).forEach((elemento) =>{
                    oggettone[i]["risposte"][j]=elemento.value;
                    j++;
                })

                oggettone[i].selezione = document.getElementsByName("n_domande"+i)[0].parentNode.querySelectorAll(".block")[0].innerText;
                oggettone[i+1] = Object.create(null);
            }
            //console.log(JSON.stringify(oggettone));
            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
            var theUrl = "/creaSurvey";
            xmlhttp.open("POST", theUrl);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify(oggettone));
            alert("Sondaggio creato con successo");
            //TODO: fare il modale che ti dà la possibilità di condividere il link http://pysurvey.ddns.net/survey?id=x

            window.location.href = "/my-survey";
        }

    </script>

{% endblock content %}
