{% extends "base.html" %}
{% block content %}
    <div class="h-full flex">

    {% if username %}
            <div class=" flex justify-center pr-4 w-2/5 m-3 " >
               <div class="justify-center flex flex-col">
                  <div class="w-full flex justify-center ">
                     <div class="border-4 rounded-full border-black">
                        <img class=" h-60 inline  p-2" src="{{ immagine }}" >
                     </div>
                  </div>
                  <h1 id="usernameProfilo" class="font-medium justify-start text-2xl"> {{ username }}!</h1>
               </div>
            </div>
            <div class=" w-full flex  items-center p-4  ">
               <div class="w-full flex flex-col justify-center ml-5">
                  <div class="m-4 flex w-full ml-4  ">
                     <div class="flex flex-col w-1/2">
                        <div id="username" class="font-medium justify-start text-2xl"> {{ username }}</div>
                        <div id="userplaceholder">  username </div>
                     </div>
                     <div class="flex flex-col w-1/2">
                        <div id="mail" class="font-medium justify-start text-2xl"> {{ mail }}</div>
                        <div id="mailplaceholder">  mail </div>
                     </div>
                  </div>
                   <div id="boxnazionalita" class="m-4 flex w-full ml-4  ">
                       <div class="flex flex-col w-1/2">
                        <div id="nazionalita" class="font-medium justify-start text-2xl"> {{ nazionalita }}</div>
                        <div id="nazionalitaplaceholder">  nazionalità </div>
                     </div>
                   </div>
                  <div class ="m-4">
                     <div id="boxmodificanazionalita" class="hidden col-span-6 w-1/2 sm:col-span-3">
                        <label for="country" class="block font-medium text-gray-700">Nazionalità</label>
                        <select id="country" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                           <option>Italiana</option>
                           <option>Americana</option>
                           <option>Mexicana</option>
                        </select>
                     </div>
                  </div>
                  <div class="m-4 flex flex-row-reverse p-8">
                     <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full" id="modifica">Modifica</button>
                     <!-- <h1 class="text-2xl"> ciccio@gmail.com</h1>-->
                  </div>
               </div>

            </div>
        <script>
        document.getElementById("modifica").addEventListener("click", modificaSchermata);
            function salva() {
                const campi = [document.querySelectorAll("#username")[0], document.querySelectorAll("#mail")[0], document.querySelectorAll("#nazionalita")[0]];
                const classi = [campi[0].classList, campi[1].classList];
                const placeholders = [document.getElementById("userplaceholder"), document.getElementById("mailplaceholder"), document.getElementById("nazionalitaplaceholder")];
                const nuovo_placeHolder = [document.createElement("div"), document.createElement("div")];
                nuovo_placeHolder[0].id = "userplaceholder";
                nuovo_placeHolder[0].innerText = "username";
                nuovo_placeHolder[1].id = "mailplaceholder";
                nuovo_placeHolder[1].innerText = "mail";
                //cambio gli input con gli h1 di prima
                campi.forEach((elemento, indice)=>{
                    if(elemento){
                    if(indice!==2){
                       const testo = elemento.value;
                       const genitore = elemento.parentNode;
                       const idElemento = elemento.id;
                       elemento.remove();
                       placeholders[indice].remove();
                       const nuovo = document.createElement("div");
                       nuovo.innerText = testo;
                       nuovo.classList=classi[indice];
                       nuovo.id = idElemento;
                       genitore.appendChild(nuovo);
                       genitore.appendChild(nuovo_placeHolder[indice]);
                    }else{
                        const boxmodificanazionalita = document.getElementById("boxmodificanazionalita");
                        const boxnazionalita = document.getElementById("boxnazionalita");
                        document.getElementById('nazionalita').innerText=document.getElementById('country').value;
                        boxmodificanazionalita.classList.add("hidden");
                        boxnazionalita.classList.remove("hidden");

                    }

                }
                });
                //chiamata a API per salvare i nuovi dati inseriti
                const nome=document.querySelectorAll("#username")[0].innerText, mail=document.querySelectorAll("#mail")[0].innerText,
                    nazionalita=document.querySelectorAll("#nazionalita")[0].innerText;
                document.getElementById("usernameProfilo").innerText = nome+"!";
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       // Typical action to be performed when the document is ready:
                       console.log(xhttp.responseText);
                    }
                };
                xhttp.open("GET", "/modificaAccount?nome="+nome+"&mail="+mail+"&nazionalita="+nazionalita, true);
                xhttp.send();
                //cambio il bottone in modifica
                const modifica = document.getElementById("modifica");
                modifica.innerText = "modifica";
                modifica.removeEventListener("click", salva);
                modifica.addEventListener("click", modificaSchermata);
            }

            function modificaSchermata(){
            //trasformo mail e username
            console.log("cliccato");
            const campi = [document.querySelectorAll("#username")[0], document.querySelectorAll("#mail")[0], document.querySelectorAll("#nazionalita")[0]];
            const classi = [campi[0].classList, campi[1].classList];
            const placeholders = [document.getElementById("userplaceholder"), document.getElementById("mailplaceholder"), document.getElementById("nazionalitaplaceholder")];
            const nuovo_placeHolder = [document.createElement("div"), document.createElement("div")];
            nuovo_placeHolder[0].id = "userplaceholder";
            nuovo_placeHolder[0].innerText = "username";
            nuovo_placeHolder[1].id = "mailplaceholder";
            nuovo_placeHolder[1].innerText = "mail";
            for(let i=0; i<document.getElementById("country").options.length;i++){
                            if(document.getElementById("country").options[i].innerText===document.getElementById('nazionalita').innerText) {
                                document.getElementById("country").selectedIndex = i;
                                break;
                            }
                        }
            /*
            nuovo_placeHolder[2].id = "nazionalitaplaceholder";
            nuovo_placeHolder[2].innerText = "nazionalità";
            */

            campi.forEach((elemento, indice)=>{
                if(elemento){
                    if(indice!==2){
                       const testo = elemento.innerText;
                       const genitore = elemento.parentNode;
                       const idElemento = elemento.id;
                       elemento.remove();
                       placeholders[indice].remove();
                       const nuovo = document.createElement("input");
                       nuovo.type = "text";
                       nuovo.value = testo;
                       nuovo.classList=classi[indice];
                       nuovo.id = idElemento;
                       genitore.appendChild(nuovo);
                       genitore.appendChild(nuovo_placeHolder[indice]);
                    }else{
                        const boxnazionalita = document.getElementById("boxnazionalita");
                        boxnazionalita.classList.add("hidden");
                        const boxmodificanazionalita = document.getElementById("boxmodificanazionalita");
                        boxmodificanazionalita.classList.remove("hidden");
                        for(let i=0; i<document.getElementById("country").options.length;i++){
                            if(document.getElementById("country").options[i].innerText===document.getElementById('nazionalita').innerText) {
                                document.getElementById("country").selectedIndex = i;
                                break;
                            }
                        }
                    }

                }
            });
            //dentro l'immagine ci metto un bottone cambia
            //TODO: METTERE IL SELECT HIDE NORMALMENTE E SOSTITUIRLO CON UN DIV CHE DICE NAZIONALITÀ, QUANDO L'UTENTE SCHIACCIA MODIFICA DIVENTA DISPLAY BLOCK
            //il tasto modifica diventa salva
            const modifica = document.getElementById("modifica");
            modifica.innerText = "salva";
            modifica.removeEventListener("click", modificaSchermata);
            modifica.addEventListener("click", salva);
        }
        </script>

    <!-- <h1>Ciao {{ username }}!</h1> -->
    {% else %}
    <h1>Devi prima accedere!</h1>
    {% endif %}
{% endblock content %}