{% extends "base.html" %}
{% block content %}
    <div class="max-h-full flex justify-center mt-8 lg:mt-2 ">

    {% if username %}
        <div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-8 lg:my-0 ">

	<!--Main Col-->
	<div id="profile" class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">


		<div class="p-4 md:p-12 text-center lg:text-left bg-gray-200">
			<!-- Image for mobile view-->
			<div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/MP0IUfwrn0A')"></div>

			<h1 class="text-3xl font-bold pt-8 lg:pt-0">{{ username }}</h1>
			<div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-green-500 opacity-25"></div>

            <!-- DATI PERSONALI -->
			<div class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
                <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                </svg>
                 <div id="username" class="font-medium text-lg"> {{ username }}</div>
            </div>

            <div class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
                <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M256 8C118.941 8 8 118.919 8 256c0 137.059 110.919 248 248 248 48.154 0 95.342-14.14 135.408-40.223 12.005-7.815 14.625-24.288 5.552-35.372l-10.177-12.433c-7.671-9.371-21.179-11.667-31.373-5.129C325.92 429.757 291.314 440 256 440c-101.458 0-184-82.542-184-184S154.542 72 256 72c100.139 0 184 57.619 184 160 0 38.786-21.093 79.742-58.17 83.693-17.349-.454-16.91-12.857-13.476-30.024l23.433-121.11C394.653 149.75 383.308 136 368.225 136h-44.981a13.518 13.518 0 0 0-13.432 11.993l-.01.092c-14.697-17.901-40.448-21.775-59.971-21.775-74.58 0-137.831 62.234-137.831 151.46 0 65.303 36.785 105.87 96 105.87 26.984 0 57.369-15.637 74.991-38.333 9.522 34.104 40.613 34.103 70.71 34.103C462.609 379.41 504 307.798 504 232 504 95.653 394.023 8 256 8zm-21.68 304.43c-22.249 0-36.07-15.623-36.07-40.771 0-44.993 30.779-72.729 58.63-72.729 22.292 0 35.601 15.241 35.601 40.77 0 45.061-33.875 72.73-58.161 72.73z"></path>
                </svg>
                 <div id="username" class="font-medium text-lg"> {{ mail }}</div>
            </div>

            <div class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start" id="boxnazionalita">
                <svg class="h-4 fill-current text-blue-700 pr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4h3.82zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14zm-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4zm.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4H8.33zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4zm.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51H3.07zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51h3.22zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6zM3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6z"/>
                </svg>
                <p id="nazionalita" class="font-medium text-lg">{{ nazionalita }}</p>

            </div>


			<div class="pt-8 text-sm">
                <div id="boxmodificanazionalita" class="hidden col-span-6 w-1/2 sm:col-span-3">
                        <label for="country" class="block font-medium text-gray-700">Nazionalità</label>
                        <select id="country" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                           <option>Italiana</option>
                           <option>Americana</option>
                           <option>Mexicana</option>
                        </select>
                     </div>
            </div>

			<div class=" flex justify-center lg:flex-row-reverse pt-12 pb-8 -m-4">
				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" id="modifica">
                  Modifica
				</button>
			</div>

			<!-- Use https://simpleicons.org/ to find the svg for your preferred product -->

		</div>

	</div>

	<!--Img Col-->
	<div class="w-full lg:w-2/5">
		<!-- Big profile image for side bar (desktop) -->
		<img src="https://source.unsplash.com/MP0IUfwrn0A" class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block">
		<!-- Image from: http://unsplash.com/photos/MP0IUfwrn0A -->

	</div>



</div>

        <!--
            <div class=" flex justify-center pr-4 w-2/5 m-3 " >
               <div class="justify-center flex flex-col">
                  <div class="w-full flex justify-center ">
                     <div class="border-4 rounded-full border-black">
                        <img class=" h-60 inline  p-2" src="{{ immagine }}" >
                     </div>
                  </div>
                  <h1 id="usernameProfilo" class="font-medium justify-start text-2xl"> {{ username }}!</h1>
               </div>
            </div>
            <div class=" w-full flex  items-center p-4  ">
               <div class="w-full flex flex-col justify-center ml-5">
                  <div class="m-4 flex w-full ml-4  ">
                     <div class="flex flex-col w-1/2">
                        <div id="username" class="font-medium justify-start text-2xl"> {{ username }}</div>
                        <div id="userplaceholder">  username </div>
                     </div>
                     <div class="flex flex-col w-1/2">
                        <div id="mail" class="font-medium justify-start text-2xl"> {{ mail }}</div>
                        <div id="mailplaceholder">  mail </div>
                     </div>
                  </div>
                   <div id="boxnazionalita" class="m-4 flex w-full ml-4  ">
                       <div class="flex flex-col w-1/2">
                        <div id="nazionalita" class="font-medium justify-start text-2xl"> {{ nazionalita }}</div>
                        <div id="nazionalitaplaceholder">  nazionalità </div>
                     </div>
                   </div>
                  <div class ="m-4">
                     <div id="boxmodificanazionalita" class="hidden col-span-6 w-1/2 sm:col-span-3">
                        <label for="country" class="block font-medium text-gray-700">Nazionalità</label>
                        <select id="country" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                           <option>Italiana</option>
                           <option>Americana</option>
                           <option>Mexicana</option>
                        </select>
                     </div>
                  </div>
                  <div class="m-4 flex flex-row-reverse p-8">
                     <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" id="modifica">Modifica</button>
                  </div>
               </div>

            </div> -->
        <script>
        document.getElementById("modifica").addEventListener("click", modificaSchermata);
            function salva() {
                const campi = [document.querySelectorAll("#username")[0], document.querySelectorAll("#mail")[0], document.querySelectorAll("#nazionalita")[0]];
                const classi = [campi[0].classList, campi[1].classList];
                const placeholders = [document.getElementById("userplaceholder"), document.getElementById("mailplaceholder"), document.getElementById("nazionalitaplaceholder")];
                const nuovo_placeHolder = [document.createElement("div"), document.createElement("div")];
                nuovo_placeHolder[0].id = "userplaceholder";
                nuovo_placeHolder[0].innerText = "username";
                nuovo_placeHolder[1].id = "mailplaceholder";
                nuovo_placeHolder[1].innerText = "mail";
                //cambio gli input con gli h1 di prima
                campi.forEach((elemento, indice)=>{
                    if(elemento){
                    if(indice!==2){
                       const testo = elemento.value;
                       const genitore = elemento.parentNode;
                       const idElemento = elemento.id;
                       elemento.remove();
                       placeholders[indice].remove();
                       const nuovo = document.createElement("div");
                       nuovo.innerText = testo;
                       nuovo.classList=classi[indice];
                       nuovo.id = idElemento;
                       genitore.appendChild(nuovo);
                       genitore.appendChild(nuovo_placeHolder[indice]);
                    }else{
                        const boxmodificanazionalita = document.getElementById("boxmodificanazionalita");
                        const boxnazionalita = document.getElementById("boxnazionalita");
                        document.getElementById('nazionalita').innerText=document.getElementById('country').value;
                        boxmodificanazionalita.classList.add("hidden");
                        boxnazionalita.classList.remove("hidden");

                    }

                }
                });
                //chiamata a API per salvare i nuovi dati inseriti
                const nome=document.querySelectorAll("#username")[0].innerText, mail=document.querySelectorAll("#mail")[0].innerText,
                    nazionalita=document.querySelectorAll("#nazionalita")[0].innerText;
                document.getElementById("usernameProfilo").innerText = nome+"!";
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                       // Typical action to be performed when the document is ready:
                       console.log(xhttp.responseText);
                    }
                };
                xhttp.open("GET", "/modificaAccount?nome="+nome+"&mail="+mail+"&nazionalita="+nazionalita, true);
                xhttp.send();
                //cambio il bottone in modifica
                const modifica = document.getElementById("modifica");
                modifica.innerText = "modifica";
                modifica.removeEventListener("click", salva);
                modifica.addEventListener("click", modificaSchermata);
            }

            function modificaSchermata(){
            //trasformo mail e username
            console.log("cliccato");
            const campi = [document.querySelectorAll("#username")[0], document.querySelectorAll("#mail")[0], document.querySelectorAll("#nazionalita")[0]];
            const classi = [campi[0].classList, campi[1].classList];
            const placeholders = [document.getElementById("userplaceholder"), document.getElementById("mailplaceholder"), document.getElementById("nazionalitaplaceholder")];
            const nuovo_placeHolder = [document.createElement("div"), document.createElement("div")];
            nuovo_placeHolder[0].id = "userplaceholder";
            nuovo_placeHolder[0].innerText = "username";
            nuovo_placeHolder[1].id = "mailplaceholder";
            nuovo_placeHolder[1].innerText = "mail";
            for(let i=0; i<document.getElementById("country").options.length;i++){
                            if(document.getElementById("country").options[i].innerText===document.getElementById('nazionalita').innerText) {
                                document.getElementById("country").selectedIndex = i;
                                break;
                            }
                        }
            /*
            nuovo_placeHolder[2].id = "nazionalitaplaceholder";
            nuovo_placeHolder[2].innerText = "nazionalità";
            */

            campi.forEach((elemento, indice)=>{
                if(elemento){
                    if(indice!==2){
                       const testo = elemento.innerText;
                       const genitore = elemento.parentNode;
                       const idElemento = elemento.id;
                       elemento.remove();
                       placeholders[indice].remove();
                       const nuovo = document.createElement("input");
                       nuovo.type = "text";
                       nuovo.value = testo;
                       nuovo.classList=classi[indice];
                       nuovo.id = idElemento;
                       genitore.appendChild(nuovo);
                       genitore.appendChild(nuovo_placeHolder[indice]);
                    }else{
                        const boxnazionalita = document.getElementById("boxnazionalita");
                        boxnazionalita.classList.add("hidden");
                        const boxmodificanazionalita = document.getElementById("boxmodificanazionalita");
                        boxmodificanazionalita.classList.remove("hidden");
                        for(let i=0; i<document.getElementById("country").options.length;i++){
                            if(document.getElementById("country").options[i].innerText===document.getElementById('nazionalita').innerText) {
                                document.getElementById("country").selectedIndex = i;
                                break;
                            }
                        }
                    }

                }
            });
            //dentro l'immagine ci metto un bottone cambia
            //il tasto modifica diventa salva
            const modifica = document.getElementById("modifica");
            modifica.innerText = "salva";
            modifica.removeEventListener("click", modificaSchermata);
            modifica.addEventListener("click", salva);
        }
        </script>

    <!-- <h1>Ciao {{ username }}!</h1> -->
    {% else %}
    <!-- <h1>Devi prima accedere!</h1> -->
 <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <!-- Heroicon name: outline/exclamation -->
            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
             Devi prima accedere
            </h3>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-white text-black text-base font-medium hover:text-white hover:bg-purple-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          <a href="/login" class="whitespace-nowrap text-base font-medium">
                Sign in
            </a>
        </button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
    {% endif %}

{% endblock content %}