{% extends "base.html" %}
{% block content %}
    <div class="h-full flex">

    {% if username %}
            <div class=" flex justify-center pr-4 w-2/5 m-3 " >
               <div class="justify-center flex flex-col">
                  <div class="w-full flex justify-center ">
                     <div class="border-4 rounded-full border-black">
                        <img class=" h-48 inline  p-2" src="{{ immagine }}" >
                     </div>
                  </div>
                  <h1 class="font-medium justify-start text-2xl"> {{ username }}!</h1>
               </div>
            </div>
            <div class=" w-full flex  items-center p-4  ">
               <div class="w-full flex flex-col justify-center ml-5">
                  <div class="m-4 flex w-full ml-4  ">
                     <div class="flex flex-col w-1/2">
                        <div id="username" class="font-medium justify-start text-2xl"> {{ username }}</div>
                        <div id="userplaceholder">  username </div>
                     </div>
                     <div class="flex flex-col w-1/2">
                        <div id="mail" class="font-medium justify-start text-2xl"> {{ mail }}</div>
                        <div id="mailplaceholder">  mail </div>
                     </div>
                  </div>
                  <div class ="m-4">
                     <div class="col-span-6 w-1/2 sm:col-span-3">
                        <label for="country" class="block font-medium text-gray-700">Nazionalità</label>
                        <select id="country" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                           <option>Italiana</option>
                           <option>Americana</option>
                           <option>Mexicana</option>
                        </select>
                     </div>
                  </div>
                  <div class="m-4 flex flex-row-reverse p-8">
                     <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full" id="modifica">Modifica</button>
                     <!-- <h1 class="text-2xl"> ciccio@gmail.com</h1>-->
                  </div>
               </div>

            </div>
        <script>
        document.getElementById("modifica").addEventListener("click", modificaSchermata);
            function salva() {
                //chiamata a API per salvare i nuovi dati inseriti

                //cambio gli input con gli h1 di prima

                //cambio il bottone in modifica
                const modifica = document.getElementById("modifica");
                modifica.innerText = "modifica";
                modifica.removeEventListener("click", salva);
                modifica.addEventListener("click", modificaSchermata);
            }

            function modificaSchermata(){
            //trasformo mail e username
            console.log("cliccato");
            const campi = [document.querySelectorAll("#username")[0], document.querySelectorAll("#mail")[0]];
            const classi = [campi[0].classList, campi[1].classList];
            const placeholders = [document.getElementById("userplaceholder"), document.getElementById("mailplaceholder")];
            const nuovo_placeHolder = [document.createElement("div"), document.createElement("div")];
            nuovo_placeHolder[0].id = "userplaceholder";
            nuovo_placeHolder[0].innerText = "username";
            nuovo_placeHolder[1].id = "mailplaceholder";
            nuovo_placeHolder[1].innerText = "mail";

            campi.forEach((elemento, indice)=>{
                if(elemento){
                   const testo = elemento.innerText;
                   const genitore = elemento.parentNode;
                   elemento.remove();
                   placeholders[indice].remove();
                   const nuovo = document.createElement("input");
                   nuovo.type = "text";
                   nuovo.value = testo;
                   nuovo.classList=classi[indice];
                   genitore.appendChild(nuovo);
                   genitore.appendChild(nuovo_placeHolder[indice]);
                }
            });
            //dentro l'immagine ci metto un bottone cambia
            //TODO: METTERE IL SELECT HIDE NORMALMENTE E SOSTITUIRLO CON UN DIV CHE DICE NAZIONALITÀ, QUANDO L'UTENTE SCHIACCIA MODIFICA DIVENTA DISPLAY BLOCK
            //il tasto modifica diventa salva
            const modifica = document.getElementById("modifica");
            modifica.innerText = "salva";
            modifica.removeEventListener("click", modificaSchermata);
            modifica.addEventListener("click", salva);
        }
        </script>

    <!-- <h1>Ciao {{ username }}!</h1> -->
    {% else %}
    <h1>Devi prima accedere!</h1>
    {% endif %}
{% endblock content %}