{% extends "base.html" %}
{% block content %}

<div class="flex flex-row-reverse p-10">
    <a href="/crea">
        <div id="crea_sondaggio" class="hidden bg-green-400 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
                    <span>Crea un sondaggio!</span>
        </div>
    </a>
</div>
<div class="flex flex-col py-10 px-20">
  <div id="contenitore" class="flex  flex-col items-center" >

  </div>
</div>

<!--TODO creare un tasto condividi -->
<script src="{{ url_for('static', filename='js/my-survey.js') }}"></script>

{% endblock content %}