{% extends "base.html" %}
{% block content %}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <div class="bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
          <!-- Card header -->
          <div class="flex items-center justify-between p-4 border-b dark:border-primary">
            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Doughnut Chart</h4>
            <div class="flex items-center">
              <button
                class="relative focus:outline-none"
                x-cloak
                @click="isOn = !isOn; $parent.updateDoughnutChart(isOn)"
              >
                <div
                  class="w-12 h-6 transition rounded-full outline-none bg-primary-100 dark:bg-primary-darker"
                ></div>
                <div
                  class="absolute top-0 left-0 inline-flex items-center justify-center w-6 h-6 transition-all duration-200 ease-in-out transform scale-110 rounded-full shadow-sm"
                  :class="{ 'translate-x-0  bg-white dark:bg-primary-100': !isOn, 'translate-x-6 bg-primary-light dark:bg-primary': isOn }"
                ></div>
              </button>
            </div>
          </div>
          <!-- Chart -->
          <div class="relative p-4">
            <canvas id="myChart" width="200 px" height="200 px"></canvas>
          </div>
        </div>
    <!--
    <div class="bg-white rounded-md dark:bg-darker">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div> -->

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
    'Red',
    'Blue',
    'Yellow'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
  }]
    },
    options: {
                responsive: false
            }
});
</script>
{% endblock content %}