{% extends "base.html" %}
{% block content %}

    <style>
        .domanda{
            margin-top:40px;
        }
    </style>

    <div id="app" class="flex flex-col w-full justify-center items-center">
        <div class="w-full max-w-3xl">
            <div class="bg-white p-12 rounded-lg shadow-lg w-full mt-8">
                <div>
                    {%for i in range(0, len)%}
                         {% if i>0 %}
                            {% if survey[i][2]!=survey[i-1][2] %}
                                <p class="domanda domande text-2xl -ml-4 font-bold" >
                                    {{ survey[i][0] }}
                                </p>
                                <label class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-100">
                                    <input type="radio" class="hidden risposta" id="{{ survey[i][2] }}_{{ survey[i][3] }}" name="{{ survey[i][2] }}" onclick="colora('{{ survey[i][2] }}_{{ survey[i][3] }}')">
                                    {{ survey[i][1] }}
                                </label>
                            {% else %}
                                <label class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-100">
                                    <input type="radio" class="hidden risposta" id="{{ survey[i][2] }}_{{ survey[i][3] }}" name="{{ survey[i][2] }}" onclick="colora('{{ survey[i][2] }}_{{ survey[i][3] }}')">
                                    {{ survey[i][1] }}
                                </label>
                            {% endif %}
                        {% else %}
                           <p class="domande text-2xl -ml-4 font-bold">
                                    {{ survey[i][0] }}
                                </p>
                                <label class="block mt-4 border border-gray-300 rounded-lg py-2 px-6 text-lg shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-100">
                                    <input type="radio" class="hidden risposta" id="{{ survey[i][2] }}_{{ survey[i][3] }}" name="{{ survey[i][2] }}" onclick="colora('{{ survey[i][2] }}_{{ survey[i][3] }}')">
                                    {{ survey[i][1] }}
                                </label>
                        {% endif %}
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="mt-4 w-3/4 flex flex-row-reverse">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 m-1 w-2/12 rounded-full cursor-not-allowed" id="salva">SALVA</button>
        </div>
    </div>

    <div class="bg-green-400">

    </div>

<script>

setInterval(()=>{
    if(document.getElementsByClassName("domande").length == contaChecked()){
        document.getElementById("salva").classList.remove("cursor-not-allowed");
        document.getElementById("salva").addEventListener("click", salva);
    }else{
        document.getElementById("salva").classList.add("cursor-not-allowed");
        document.getElementById("salva").removeEventListener("click", salva);
    }
}, 100)


    function salva(){
        //prende tutte le radio checked, il loro id e lo serializza
        let risposteCheckate = [];
        let i=0;
        document.querySelectorAll(".risposta").forEach((elemento)=>{
            if(elemento.checked){
                let indici = elemento.id.split('_');
                risposteCheckate[i] = Object.create(null)
                risposteCheckate[i]["idDomanda"] = String(indici[0]);
                risposteCheckate[i]["idRisposta"] = String(indici[1]);
                i++;
            }
        })

        //mando il json al backend
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        var theUrl = "/inviaRisposta";
        xmlhttp.open("POST", theUrl);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(risposteCheckate));
        alert("inviato con successo");
    }

    function colora(id){
        //id=iddomanda_idrisposta
        //coloro l'attuale se non è colorata
        //se una della stessa domanda è colorata allora la decoloro e coloro questa
        let questo = document.getElementById(id);
        if(questo.checked){
            questo.parentNode.style.backgroundColor = "#E5E7EB";
        }
        let vicini = document.getElementsByName(String(id.split('_')[0]));
        vicini.forEach((elem)=>{
            if(!elem.checked){
                if(elem.parentNode.style.backgroundColor == "rgb(229, 231, 235)"){
                    elem.parentNode.style.backgroundColor = '';
                }
            }
        })
}

function contaChecked(){
        const risposte = document.querySelectorAll(".risposta");
        let cont=0;
        risposte.forEach((elem)=>{
            if(elem.checked){
                cont++;
            }
        })
        return cont;
}
</script>

{% endblock content %}
